<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{blog/mainLayout}">
<head>
<title>Home</title>
</head>
<body>

	<div layout:fragment="content">

        <div th:each="post : ${postsResponse.posts}">
        	<div class="row">			  
			  <div class="col-md-12">
			  		<div class="post well">
		                <h3> <a class="posttitle" href="#" th:href="@{/post/{postUrl}(postUrl=${post.url})}"
		                		th:text="${post.title}">post title</a> 
		                </h3>
		                <div>
		                	<i class="fa fa-user"></i> <strong th:text="${post.createdByUserName}">Admin</strong>
		                	&nbsp;&nbsp;
		                	<i class="fa fa-calendar"></i> <strong th:text="${#temporals.format(post.createdOn,'dd MMMM yyyy')}">Date</strong>
		                	&nbsp;&nbsp;
		                	<span th:if="${not post.tags.isEmpty()}" >
							<i class="fa fa-tag"></i> 
							<span th:each="tag : ${post.tags}">
								<a class="label label-primary" th:text="${tag}" th:href="@{/tags/{tag}(tag=${tag})}">Tag</a>
							</span>
		                	</span>
						</div>		                
		                <div class="post-short-desc">
		                    <span th:utext="${post.shortDescription}">post shortDescription</span>
		                    
		                    &nbsp;
		                    <a class="btn btn-danger btn-xs" th:href="@{/post/{postUrl}(postUrl=${post.url})}">See more</a>
		                </div>
		                <div class="social-share">
							<strong>Share on</strong>
							<a class="btn" th:href="${post.twitterShareLink}"
										target="_blank" title="Share on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a>
							<a class="btn" th:href="${post.facebookShareLink}"
										target="_blank" title="Share on Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i>Facebook</a>
							<a class="btn" th:href="${post.linkedInShareLink}"
										target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
						</div>
		            </div>
			  </div>			  
			</div>
        </div>
        
        <ul class="pager">
			<li class="next" th:if="${postsResponse.isHasNextPage()}">
				<a th:href="@{'/'+${paginationRootUrl+'/'+(postsResponse.currentPageNo + 1) }}">Older &rarr;</a>
			</li>
			<li class="previous" th:if="${postsResponse.isHasPreviousPage()}">
				<a th:href="@{'/'+${paginationRootUrl+'/'+(postsResponse.currentPageNo - 1) }}">&larr; Newer</a>
			</li>
        </ul>
        
    </div>
</body>
</html>
