<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{blog/mainLayout}">
<head>
<title>Home</title>
</head>
<body>

	<div layout:fragment="content">

        <div th:each="post : ${postsResponse}">
        	<div class="row">			  
			  <div class="col-md-12">
			  		<div class="post well">
		                <h3> <a class="posttitle" href="#" th:href="@{/post/{postUrl}(postUrl=${post.url})}"
		                		th:text="${post.title}">post title</a> 
		                </h3>
		                <div>
		                	<i class="fa fa-user"></i> <strong th:text="${post.createdByUserName}">Admin</strong>
		                	&nbsp;&nbsp;
		                	<i class="fa fa-calendar"></i> <strong th:text="${#temporals.format(post.createdOn,'dd MMMM yyyy')}">Date</strong>
		                	&nbsp;&nbsp;
		                	<span th:if="${not post.tags.isEmpty()}" >
							<i class="fa fa-tag"></i> 
							<span th:each="tag : ${post.tags}">
								<a class="label label-primary" th:text="${tag}" th:href="@{/tags/{tag}(tag=${tag})}">Tag</a>
							</span>
		                	</span>
						</div>		                
		                <div class="post-short-desc">
		                    <span th:utext="${post.shortDescription}">post shortDescription</span>
		                    
		                    &nbsp;
		                    <a class="btn btn-danger btn-xs" th:href="@{/post/{postUrl}(postUrl=${post.url})}">See more</a>
		                </div>
		            </div>
			  </div>			  
			</div>
        </div>
        
    </div>
</body>
</html>
