<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{blog/mainLayout}">
<head>
<title>Home</title>
</head>
<body>

	<div layout:fragment="content">

		<div class="post">
			<h2 th:text="${post.title}">post title</h2>
			<div>
             	<i class="fa fa-user"></i> <strong th:text="${post.createdByUserName}">Admin</strong>
             	&nbsp;&nbsp;
             	<i class="fa fa-calendar"></i> <strong th:text="${#temporals.format(post.createdOn,'dd MMMM yyyy')}">Date</strong>
             	&nbsp;&nbsp;
             	<span th:if="${not post.tags.isEmpty()}" >
					<i class="fa fa-tag"></i> 
					<span th:each="tag : ${post.tags}">
						<a class="label label-primary" th:text="${tag}" th:href="@{/tags/{tag}(tag=${tag})}">Tag</a>
					</span>
				</span>
				<span sec:authorize="hasRole('ROLE_ADMIN')">
					<a class="label label-warning" href="#" th:href="@{/admin/posts/{postId}/edit(postId=${post.id})}" 
					title="Edit Post"><i class="fa fa-edit " aria-hidden="true"></i></a>
				</span>
			</div>
			<div class="postt-short-desc" th:utext="${post.content}">post content</div>
			<div class="post-footer well">
				<div class="social-share">
					<strong>Share on</strong>
					<a class="btn" th:href="${post.twitterShareLink}"
					   target="_blank" title="Share on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a>
					<a class="btn" th:href="${post.facebookShareLink}"
					   target="_blank" title="Share on Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i>Facebook</a>
					<a class="btn" th:href="${post.linkedInShareLink}"
					   target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
				</div>
			</div>
			
		</div>
		
		<hr/>
     	<div>
	         <h3>Comments:</h3>
	         <div class="well" th:if="${post.comments == null || post.comments.isEmpty()}">
	         	<p><strong> No comments yet!</strong></p>
	         </div>
	         <div th:each="comment : ${post.comments}">
	             <div class="well comment">
	                 <p><b>Name : </b><strong th:text="${comment.name}">name</strong></p> 
	                 <p><b>Date: </b><span th:text="${#temporals.format(comment.createdOn,'dd MMMM yyyy')}"></span></p>
	                 <p th:text="${comment.content}">content</p>
	             </div>
	         </div>
         
         	<form class="form" method="post" th:action="@{/post/{postUrl}/comments(postUrl=${post.url})}" th:object="${comment}">
				<div class="row">
					<div class="form-group col-md-5" th:classappend="${#fields.hasErrors('name')}? has-error">
						<label for="name">Name</label> 
						<input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" th:field="*{name}"/>
						<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect data</p>
					</div>
				</div>
	
				<div class="row">
					<div class="form-group col-md-5" th:classappend="${#fields.hasErrors('email')}? has-error">
						<label for="email">Email</label> 
						<input type="email" class="form-control" id="email" placeholder="Enter email" name="email" th:field="*{email}"/>
						<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect data</p>
					</div>
				</div>
	
				<div class="row">
					<div class="form-group col-md-10" th:classappend="${#fields.hasErrors('content')}? has-error">
						<textarea class="form-control" id="content"
							placeholder="Enter comment" rows="8" name="content" th:field="*{content}"></textarea>
						<p th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Incorrect data</p>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-5">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</form>
     	</div>
     
	</div>

</body>
</html>
